<li>
{{burger_name}}
    	{{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newDevoured="false"{{!-- "{{devoured}}" --}}>
		DEVOUR IT!
	</button>
    {{/unless}}

    {{#if devoured}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    {{/if}}

{{!-- 	{{burger_name}}
    
	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}UNEAT!{{else}}DEVOUR!{{/if}}
	</button>


	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
